@keyframes land {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes text {
    from {
        transform: translateY(-800px);
    }
    to {
        transform: translateY(-60px);
    }
}

@keyframes header-btn {
    from {
        opacity: 0;
        pointer-events: none;
    }
    to {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes bubble {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    10% {
        opacity: 0.3;
    }
    100% {
        transform: translateY(1000px);
        opacity: 0.5;
        transform: scale(0.6);
    }
}

@keyframes bubble-two {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    20% {
        opacity: 0.3;
    }
    100% {
        transform: translateY(-200px);
        transform: translateX(0);
        opacity: 1;
        transform: scale(0.9);
    }
}

@keyframes bubble-three {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    20% {
        opacity: 0.1;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        transform: translateY(100px);
        transform: translateX(-100px);
        opacity: 0;
        transform: scale(0.7);
    }
}
