$navbar-height: 72px;

// light mode

$lm-dark: #494949;
$lm-grey: #f6f6f6;
$lm-white: #fff;
$lm-icon-brightness: brightness(0.2);

// basic box shadow
$box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.144),
    0 0.6rem 1rem 0 rgba(0, 0, 0, 0.151);
