@import "../abstracts/variables";

.about {
    height: 70rem;
    transform: translateY(-1rem); //fix error with svg border-radius
    position: relative;
    z-index: 0;

    @media (max-width: 1000px) {
        height: 100%;
    }

    @media (max-width: 550px) {
        text-align: center;
    }

    &-head {
        border-bottom: solid 1px white;
        display: inline;
        text-align: center;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5rem 0;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }

    &-bio {
        flex: 0 0 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & img {
            height: 25rem;
            box-shadow: $box-shadow;
            border-radius: 12px;
            margin-bottom: 3rem;
        }

        & p {
            color: white;
            font-size: 1.6rem;
            width: 75%;
        }
    }

    &-skills {
        flex: 0 0 45%;

        @media (max-width: 1000px) {
            width: 90vw;
            height: 100%;
            margin-bottom: 5rem;
        }

        &-head {
            font-size: 4rem;
        }

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            @media (max-width: 430px) {
                transform: translateX(5vw);
            }
        }
    }

    &-skill {
        width: 100%;

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.4rem 0;

            @media (max-width: 430px) {
                margin: 1rem 0;
            }
        }

        &-bar-container {
            height: 100%;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-bar {
            width: 80%;
            position: relative;
            margin: 0 !important;
            filter: hue-rotate(125deg);
            box-shadow: $box-shadow;
        }

        &-name {
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2rem;
            width: 10rem;
            text-align: right;
            transform: translateX(2rem);
        }

        &-icon {
            height: 4rem;
            width: 4rem;
            transform: translateX(-2rem);
        }
    }

    &-splitter {
        width: 1px;
        height: 40rem;
        background-color: white;
        transform: rotate(0) scaleY(1);

        @media (max-width: 1000px) {
            transform: rotate(90deg) scaleY(7.5);
            flex: 0 0 80px;
        }

        @media (max-width: 700px) {
            transform: rotate(90deg) scaleY(5.5);
        }

        @media (max-width: 520px) {
            transform: rotate(90deg) scaleY(4.5);
        }

        @media (max-width: 430px) {
            transform: rotate(90deg) scaleY(3.5);
        }

        @media (max-width: 350px) {
            transform: rotate(90deg) scaleY(3);
        }
    }
}

.ai {
    font-size: 1.5rem;
}
