@import "../abstracts/variables";

.about {
    height: 100rem;
    background-color: #303841;
    transform: translateY(-0.5rem); //fix error with svg border-radius
    position: relative;

    &-head {
        border-bottom: solid 1px white;
        display: inline;
        text-align: center;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 0;
    }

    &-bio {
        flex: 0 0 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & img {
            height: 25rem;
            box-shadow: $box-shadow;
            border-radius: 12px;
            margin-bottom: 3rem;
        }

        & p {
            color: white;
            font-size: 1.6rem;
            width: 60%;
        }
    }

    &-skills {
        flex: 0 0 45%;

        &-head {
            font-size: 4rem;
        }

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    &-skill {
        width: 100%;

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.4rem 0;
        }

        &-bar-container {
            height: 100%;
            width: 70%;
            transform: scale(1.4);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-name {
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2rem;
            width: 10rem;
            text-align: right;
            transform: translateX(2rem);
        }

        &-icon {
            height: 4rem;
            width: 4rem;
            transform: translateX(-2rem);
        }
    }

    &-splitter {
        width: 1px;
        height: 40rem;
        background-color: white;
    }
}

.ai {
    font-size: 1.5rem;
}
