@import "../abstracts/variables";

.header {
    background-color: #f3f3f3;
    height: 100%;
    width: 100%;
    position: relative;

    &-svg {
        position: relative;
        min-height: 30vh;
    }

    &-btn {
        animation: header-btn 1.5s backwards ease;
        animation-delay: 5s;
        pointer-events: none;
        height: 100%;
    }
}
