.loading {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    &-spinner {
        width: 14rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-path {
        stroke-dasharray: 857;
        animation: load 2.3s ease infinite;
    }
}
