@import "../abstracts/variables";

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-3rem);
    height: 60px;
    background-color: black;
    box-shadow: $box-shadow;

    @media (min-width: 701px) {
        animation: nav 1.5s ease backwards;
        animation-delay: 3.5s;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: black;
        transform: translateX(3rem);
    }

    &-item:link,
    &-item:visited {
        color: white;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 10%;
        margin: 0 5rem;

        @media (max-width: 470px) {
            margin: 0 3rem;
        }
    }

    &-icon {
        width: 23px;
        height: 23px;
        z-index: 20;
        position: relative;
        margin-right: 1.5rem;
        margin-bottom: 0.2rem;

        @media (max-width: 550px) {
            margin-right: 0;
        }
    }

    &-text {
        font-size: 1.7rem;
        font-weight: 300;

        @media (max-width: 550px) {
            font-size: 0;
        }
    }

    //scrollspy class
    &-active {
        line-height: 0;

        &::after {
            border-bottom: white solid 1.2px;
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 50%;
            margin: -21px auto;
            animation: nav-active 0.35s forwards;
        }
    }
}
