.projects {
    height: 100%;
    background-color: #3a4750;
    padding-top: 8rem;

    @media (max-width: 1000px) {
        height: 100%;
        padding-bottom: 5rem;
    }

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;
        padding-bottom: 8rem;

        @media (max-width: 800px) {
            flex-wrap: wrap;
        }

        &-buttons {
            flex: 0 0 32%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-splitter {
            flex: 0 0 1px;
            height: 60rem;
            background-color: white;
            transform: rotate(0) scaleY(1);
        }

        &-info {
            flex: 0 0 65%;
        }
    }
}
