.landing {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing-mobile {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.top {
    animation: land-top 2s ease backwards;
    animation-delay: 1s;
}

.center {
    animation: land-center 3s ease forwards;
}

.bubble {
    animation: bubble 20s ease-in backwards infinite;
    animation-delay: 1.8s;
    transform-origin: 30% 50%;

    &-m {
        animation: bubble-m 20s ease-in infinite backwards;
        animation-delay: 2.5s;
        transform-origin: 5% 45%;
    }
}

.bubble-two {
    animation: bubble-two 20s ease-in backwards infinite;
    animation-delay: 3s;

    &-m {
        animation: bubble-two-m 20s ease-in backwards infinite;
        animation-delay: 1.3s;
        transform-origin: 50% 50%;
    }
}

.bubble-three {
    opacity: 0.4;
    animation: bubble-three 20s ease-in backwards infinite;
    animation-delay: 1.5s;
}

.text {
    animation: text 2s backwards;
    animation-delay: 2s;
    transform: translateY(-60px);
}
