.chev {
    width: 7%;
    min-width: 100px;
    pointer-events: all;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);

    @media (max-width: 700px) {
        visibility: hidden;
        pointer-events: none;
    }

    @media (max-width: 560px) {
        transform: translate(-50%, 20%);
    }

    &-container {
        fill: none;
    }

    &-top,
    &-center,
    &-bottom {
        transition: 0.5s;
    }

    &:hover {
        & .chev-top {
            transform: translateY(35px);
        }

        & .chev-center {
            transform: translateY(50px);
            transition-delay: 0.08s;
        }

        & .chev-bottom {
            transform: translateY(70px);
            transition-delay: 0.16s;
        }
    }

    &-body {
        fill: white;
    }

    &-shadow {
        fill: rgb(66, 0, 0);
    }

    &-lefthalf {
        fill: none;
    }

    &-righthalf {
        fill: none;
    }
}
