@import "../abstracts/variables.scss";

.footer {
    background-color: $lm-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    padding: 10px 0;

    &-icons {
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            height: 100%;
            width: 30px;
            margin: 0 20px;
        }
    }

    &-copyright {
        font-family: "Raleway";
        font-weight: 700;
        text-align: center;
        font-size: 0.9rem;

        // color for both modes
        color: #b7b7b7;
    }
}
