@import "../abstracts/variables.scss";

.header {
    background-color: $lm-white;
    position: relative;
    height: 780px;
    overflow: hidden;

    &-img {
        opacity: 0.1;
        position: relative;
        bottom: 26%;
    }

    &-text {
        font-family: "Raleway";
        font-weight: 300;
        color: $lm-dark;
        position: absolute;
        top: 28%;
        left: 10%;

        & h1 {
            font-size: 3.5rem;
            margin-bottom: 60px;
        }

        & h3 {
            font-size: 2.2rem;
        }
    }
}
